frontend localnodes
    bind *:80
    mode http
    default_backend server

backend server
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server web_server 172.31.42.179:8000 check

